        h1{
            color: blue;
            font-size: 40;
            background-color: pink;
            padding: 50;
            text-align: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .nombre{
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 30px;
        }
        img{
            display: block;
            margin: 0 auto;
            width: 50%;
        }
        h4{
            text-align: center;
            color: white;
            font-size: 40px;
            background-color: black;
            padding: 50;
            font-family: Arial, Helvetica, sans-serif;
        }
        p{
            text-align:left;
            font-size: 40px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .infantil{
            width: 200px;
            height: auto;
            border-radius: 15px;
            float: right;
        }
        h5{
            text-align: left;
            font-size: 40px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        ul{
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
        }
        h6{
            font-size: 40px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        h7{
         font-size: 40px;   
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        h8{
            font-size: 40px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .habilidades{
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;

        }
        .Descripción{
            font-size: 16px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: justify;
        }
    